@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#body{
    background-color:#ECCBF5
}


#collection{
    text-align:center;
    margin: auto;
    padding:30px;
    position: relative;
    top:20px;
}

#collection_img{
    width: 1000px;
}

#anime:hover,  #maya:hover, #music:hover, #paint:hover, #camera:hover, #cube:hover{
    opacity:50%;
}

@media(max-width:950px){
    #collection_img{
        width: 600px;
    }
}

@media(max-width:750px){
    #collection{
       text-align:center;
       margin: auto;
       position:relative;
       right:80px;
    }
}

@media(max-width:850px){
    #types{
       position:relative;
       left:60px;
    }
}

#anime,  #maya, #music, #paint, #camera, #cube{
    width: 200px;
    padding:20px;
    margin:auto;
    text-align:center;
}

#header{
    text-align:center;
    margin: auto;
}

.third{
    
    padding:20px;
    margin:auto;
    text-align:center;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #774C60;
    min-height: 200vh;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    color: #2B2B2B;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
  
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    padding: 40px 100px;
    bottom: 50px;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100px;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin:0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size:25px;
    bottom:40px;
}


header.sticky .logo,
header.sticky ul li a{
    color: #000;
    position: relative;
    
}

@media(max-height:1000px){
	header.sticky{
        padding: 100px 100px;
        background: rgb(255, 255, 255);
    } 
}

@media(max-height:1000px){
	header.sticky .logo{
        position: relative;
        bottom:100px;
    
    } 
}

#pic{
    width: 100%;
    padding:30px;
}

#pic:hover {
    opacity:50%;
    
}

/* .text-block {
    position: absolute;
    bottom: 60px;
    
    text-align: center;
    
    color: white;
    padding-left: 175px;
    padding-right: 110px;
  } */

  .image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h2 { 
    position: absolute; 
    top: 130px; 
    left: 150px; 
    width: 50%; 
    color: white;
    opacity: 0;
 }

 /* img hover start */

 .img-container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 5px;
    right: 0;
    height: 96.5%;
    width:88%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1a1e1fa1;
  }


  
  .img-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  b, strong {
    font-weight: bolder;
    color: white;
    text-align: center;
}

#img_hover{
    padding:5px;
}



/* img hover end */

/* dropdown start */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ECCBF5;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover #New {background-color: #3e8e41;} */
  
  /* dropdown end */

  #picture{
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 20px;
  }

  @media(max-width:1000px){
    .img-container {
        width: 100%;
        height: 100%;
    }
  }

  @media(max-width:1000px){
    .overlay {
        width: 100%;
        
    }
  }

  /* #link_margin{
      text-align: center;
      position: relative;
      left: 45px;
  } */

 


