<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="style.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body id="body">



  <div class="container">

    <div class="row py-5">
      <header>
        <a class="logo"><img src="img/LOGO.PNG" style="width:200px"></a>
        <ul>
          <li><a href="../HomePage/home.html">Home</a></li>

          <div class="dropdown">
            <li><a href="#" id="New" style="color: rgb(245, 129, 173);">New</a></li> 
            <div class="dropdown-content">
             <a href="../topic/index.html">專題</a>
             <a href="../cg painting/cg.painting.html">手繪情境</a>
             
            </div>
         </div>
         
         <li><a href="../HomePage/home.html#contact"> Contact</a></li>
         <li><a href="../LoginForm/LoginForm.html">Upload</a></li>
        </ul>
      </header>
    </div>

    <div class="row" id="collection">
      <img src="img/collection.png" id="collection_img">
    </div>
    <div class="row" id="types">
      <a href="./ZiYanModeling"><img src="img/cube.gif" id="cube"></a>
      <a href="./ZiYanphotography"><img src="img/camera.gif" id="camera"></a>
      <a href="./ZiYanDraw"><img src="img/paint.gif" id="paint" class="third" style="width:300px"></a>
      <a href="./ZiYanAnimation"><img src="img/anime.gif" id="anime" ></a>
      <a href="./ZiYanMusic"><img src="img/music.gif" id="music" ></a>
      
    </div>
    <div class="row">
      <% ZiYanDraw.forEach(function(item){ %>
        <div class="d-flex flex-column">
          <main class="container py-5">
            <section class="card" data-aos="fade-right" style="background-color: #4E395C;">
              <img src="/uploads/<%= item.poster %>" alt="" id="picture"> 
              <div style="margin: auto;">
                <h3><strong>
                    <%= item.DesignTitle %>
                  </strong></h3>
                <p><strong>
                    <%= item.DesignConcept %>
                  </strong><br>
                  <strong>
                    <%= item.Experience %>
                  </strong><br>

                </p>
              </div>
            </section>


          </main>
        </div>
        <% }) %>
    </div>




  </div>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    window.addEventListener("scroll", function () {
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > 0);
    })
  </script>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 400,
      duration: 1000
    });
  </script>
</body>

</html>